.groupchat-header-container {
  position: fixed;
  top: 60px;
  left: 230px;
  right: 0;
  height: 100px;
  background-color: #f5f5f5;
  border-bottom: 1px solid $header-border;
  z-index: 500;
  padding: 5px 10px 0 10px;
}
.groupchat-date-header {
  width: 100%;
  height: 34px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #353535;
  background-color: #DCEAF1;
  font-size: 13px;
  line-height: 34px;
  vertical-align: middle;
}

.groupchat-date {
  float: left;
  color: #353535;
  text-align: left;
  margin-top: 2px;
  &.mine {
    float: right;
    text-align: right;
  }
}

.groupchat-delete {
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  color: red;
  &.mine {
    float: right;
  }
  // width: 20px;
  // height: 20px;
  // margin-left: -20px;
  // float: right;
}

.groupchat-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 10%;
  &.mine {
    margin-right: 15px;
    margin-left: 10%;
    text-align: right;
  }
  &.deleted {
    text-decoration: line-through;
    opacity: 0.5;
  }
}
.groupchat-profile {
  float: left;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.groupchat-bubble {
  float: left;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  display: inline-block;
  color: #353535;
  background-color: gainsboro;
  &.mine {
    color: white;
    background-color: lighten($app-tint, 10%);
  }
}

.groupchat-input-container {
  position: fixed;
  bottom: 0;
  left: 230px;
  right: 0;
  background: $header-bg;
  border-top: 1px solid $header-border;
  height: 130px;
  z-index: 9000;
  &.menu-hidden {
    left: 0px;
  }
}
